@primary-color: #1890ff;

.back-btn {
  height: 40px;
  background-color: #f25b28;
  color: white;
  font-weight: bold;
  border: none;
  margin: 15px;
  position: absolute;
  right: 5%;
}

.back-btn:hover {
  background-color: #f25b28; /* Set the hover background color to the same color as normal */
  color: white;
}

.el-header {
  display: flex;
  height: 60px !important;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}

.el-footer {
  color: #E9D8A6;
  font-size: 16px;
  font-family: Archivo;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word
}

.el-container {
  height: 100vh;
}

.bottom-div{
  height: 100px;
}